body{
	background-color: rgb(24,24,24);
}
#Word{
	color: white;
	position:absolute;
	top: calc(60% - 130px);
	left: 50%;
	transform: translate(-50%, -50%);
}
.Gender_box{
	position: absolute;
	top: calc(60% - 18px);
	left: calc(50% - 200px);
}
#Gender_input{
	display: none;
	width: 60px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(24,24,24);
	color: white;
	padding: 5px;
	cursor: pointer;
	font-size: auto;
}
.Gender_box a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
}
.Gender_box .content{
	margin-left: -20px;
	display: none;
	position: absolute;
	background-color: rgb(33,33,33);
	min-width: 100px;
	box-shadow: 2px 2px 5px black;
}
.Gender_box:hover input{
	background-color: white;
}

#Answer_box{
	display: none;
	color: white;
	background-color: rgb(24,24,24);
	position: absolute;
	width: 200px; 
	height: 50px; 
	border-radius: 5px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.Plural_box{
	position: absolute;
    top: calc(60%);
	left: calc(50% + 178px);
    transform: translate(-50%, -50%);
}
#Plural_input{
	display: none;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(24,24,24);
	color: 	white;
	padding: 5px;
	cursor: pointer;
	font-size: auto;
}
.Plural_box a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
}
.Plural_box .content{
	margin-left: -20px;
	display: none;
	position: absolute;
	background-color: rgb(33,33,33);
	min-width: 100px;
	box-shadow: 2px 2px 5px black;

}
.Plural_box:hover input{
	background-color: white;
	
}




#Infinitiv_box{
	display: none;
	color: white;
	background-color: rgb(24,24,24);
	position: absolute;
	width: 200px; 
	height: 50px; 
	border-radius: 5px;
	top: 60%;
	left: calc(50% - 480px);
	transform: translate(-50%, -50%);
}
#Präsens_box{
	display: none;
	color: white;
	background-color: rgb(24,24,24);
	position: absolute;
	width: 200px; 
	height: 50px; 
	border-radius: 5px;
	top: 60%;
	left: calc(50% - 240px);
	transform: translate(-50%, -50%);
}
#Präteritum_box{
	display: none;
	color: white;
	background-color: rgb(24,24,24);
	position: absolute;
	width: 200px; 
	height: 50px; 
	border-radius: 5px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#Isthat_box{
	display: none;
	color: white;
	background-color: rgb(24,24,24);
	position: absolute;
	width: 200px; 
	height: 50px; 
	border-radius: 5px;
	top: 60%;
	left: calc(50% + 240px);
	transform: translate(-50%, -50%);
}
#Perfekt_box{
	display: none;
	color: white;
	background-color: rgb(24,24,24);
	position: absolute;
	width: 200px; 
	height: 50px; 
	border-radius: 5px;
	top: 60%;
	left: calc(50% + 480px);
	transform: translate(-50%, -50%);
}